*, *:before, *:after {
  box-sizing: border-box;
}
/* This forces the two divs .content, and .arrow to align side by side*/
.location .content, .location .arrow {
    display:inline-block;
}
/* this stylizes the location div to occupy the majority of the left side of the page*/
.location .content{
  margin: 3%;
padding: 2%;
width: 82%;
}
/* this stylizes the arrow div to occupy the remaining right side of the page*/
.location .arrow{
  margin: 1%;
  padding: 2%;
  width: 2%;
}
/* This adds the black line between divs*/
.location {
    padding:0px;
    border-bottom:1px solid black;
}
/* Previous Submission

.location .arrow {
    float:right;
}

.location .content h1 {
    padding-bottom:5px;
}
.location .arrow {
	padding-top: 7px;
}
*/
/* This changes the color of the div during mouse hover*/
.location:hover {
    background-color:#94918f;
}
body {
	background-color: #363534;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
	background-color: #bdb6b3;
  margin: 0 auto;
  width: 420px;
}

nav {
	background-color: #000000;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  padding-top: 45px;
}
/* This styles the headers within the divs*/
.restaurant-list h1{
	font-size: 19px;
  padding-bottom: 3px;
	font-weight: 800;
}

.restaurant-list h3{
	font-size: 12px;
	font-weight: 800;
}

# css-exercise-three
# css-exercise-three
